*~
.fuse_hidden*
.directory
.Trash-*
.nfs*
.idea
.idea_modules
*.iml
*.iws
out
gen
._*
.Apple*
.DS_Store
.fuse_hidden
Network Trash Folder
.TemporaryItems
Temporary Items
.Trashes
.VolumeIcon.icns
*.egg-info
.eggs
.pytest_cache
*.pyc
distribute*
build
dist
pytest_runner*.egg
__pycache__
.gradle
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk
.AppleDouble
.LSOverride
Icon
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
.apdisk
